google-api-python-client
google-auth-oauthlib
google-auth-httplib2
gspread
oauth2client
youtube-transcript-api
openai
requests
beautifulsoup4
python-dotenv
yt-dlp
yfinance
chromadb
streamlit
pandas
tiktoken
plotly
scipy
rank_bm25
